body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

/* TOPBAR */
.topbar {
    background-color: #0b3c6f;
    color: white;
    padding: 10px 20px;
    font-size: 13px;
}

    .topbar a {
        color: white;
        margin-left: 15px;
        text-decoration: none;
    }

        .topbar a:hover {
            text-decoration: underline;
        }
